
<x-meta title="Vimeo" />

<x-wrap>

    <x-vimeo channel="staffpicks">

        <div class="card-columns">

            <div class="card vimeo-item">
                <a class="vimeo-link" target="_blank">
                    <img class="card-img-top vimeo-thumbnail">
                </a>

                <div class="card-body">
                    <h5 class="card-title vimeo-title">Title</h5>
                    <p class="card-text vimeo-description" data-plift-truncate="450"></p>
                </div>

                <div class="card-footer text-muted">

                  <span class="badge badge-light">
                      <i class="fa fa-comments text-muted"></i> <span class="badge badge-light vimeo-comments"></span>
                  </span>

                  <span class="badge badge-light">
                      <i class="fa fa-play text-muted"></i> <span class="badge badge-light vimeo-plays"></span>
                  </span>

                  <span class="badge badge-light">
                      <i class="fa fa-heart text-muted"></i> <span class="badge badge-light vimeo-likes"></span>
                  </span>

                </div>
            </div>
        </div>

    </x-vimeo>

</x-wrap>
